body{
    background: #ecc3e1;
    cursor:none;
}

.list-group-item-action{
    background-color: #f5dfef;
    line-height: 1;
    padding: 1.3rem;
    margin-bottom: 6px;
    transition: all 0.3s ease;
    border: 2px solid #e9cde2;
}

.list-group-item-action:hover{
    color: black;
    background-color: #d19cd3;
}