body{
    background: #C9A6BF;
}

.list-group-item-action{
    background-color: #e9cde2;
    line-height: 1;
    padding: 1.3rem;
    margin-bottom: 6px;
    box-shadow: 0 0 5px #C9A6BF;
    transition: all 0.3s ease;
    border: 2px solid #e9cde2;
}

.list-group-item-action:hover{
    color: black;
    background-color: #d19cd3;
}