body{
    background: linear-gradient(90deg, rgba(255,2,245,1) 0%, rgba(102,22,240,1) 100%, rgba(0,0,0,1) 100%);
    
}

.list-group-item-action{
    line-height: 1;
    padding: 1.3rem;
    margin-bottom: 6px;
    transition: all 0.3s ease;
    background-color: white;
    border: none;
    color: black;
}
nav{
    margin-top: 2rem;
    color: #fff;
}